body {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  font-size: calc(90% + 0.2vw);
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

header {
  text-align: center;
  border-bottom: 3px solid #003366;
  padding: 1em 0;
  line-height: 1.2;
}

header img {
  width: 80px;
  min-width: 40px;
  max-width: 80px;
}

header h1 {
  color: #003366;
  margin: 0.3em 0 0 0;
}

header h2 {
  color: #666;
  margin: 0.2em 0;
}

main {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 1.5em 0;
}

aside {
  flex: 0 0 25%; 
}

aside h2 {
  border-bottom: 2px solid #003366;
  padding-bottom: 0.3em;
  margin-bottom: 0.5em;
  color: #003366;
}

aside p {
  margin: 1em 0;
}

aside img {
  display: block;
  width: 100%;
  height: auto;
  min-width: 40px;
  max-width: 75px;
  margin-bottom: 0.3em;
  border-radius: 4px;
}

aside a {
  color: #003366;
  text-decoration: none;
  font-weight: bold;
}

aside a:hover {
  text-decoration: underline;
}

section {
  flex: 1; 
}

section h2 {
  color: #003366;
  margin-top: 0;
}

blockquote {
  font-style: italic;
  color: #666;
  border-left: 3px solid #ccc;
  padding-left: 1em;
  margin: 1em 0;
}

.featured {
  border-top: 3px solid #003366;
  border-bottom: 3px solid #003366;
  padding: 1em 0;
  margin: 1.5em 0;
}

.featured img {
  float: right;
  min-width: 100px;
  max-width: 250px;
  width: 60%;
  margin: 0 0 1em 1em;
}

footer {
  text-align: center;
  border-top: 2px solid #003366;
  padding: 1em 0;
  font-size: 0.9em;
  margin-top: 2em;
}
