:root {
  --light-color: #ffffff;
  --mid-color: antiquewhite;
  --dark-color: #003366;
  --accent-color: #003366;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  font-size: calc(90% + 0.2vw);
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid var(--dark-color);
  padding: 1em 0;
}

header img {
  width: 80px;
  height: auto;
  margin-right: 1em;
}

.header-text h1 {
  color: var(--dark-color);
  margin: 0;
}

.header-text h2 {
  color: #666;
  font-style: italic;
  margin: 0.2em 0 0 0;
}

.navbar {
  background-color: var(--accent-color);
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  flex-basis: 20%;
  text-align: center;
  position: relative;
}

.menu > li a {
  display: block;
  padding: 1em;
  margin: 0 1px 2px;
  text-decoration: none;
  color: var(--light-color);
}

.menu > li a:hover,
.menu > li a:focus,
.menu > li a.current {
  background-color: var(--mid-color);
  color: var(--dark-color);
}

.submenu {
  display: none;
  position: absolute;
  background-color: var(--accent-color);
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 1000;
}

.menu > li:hover .submenu {
  display: block;
}

.submenu li a {
  display: block;
  padding: 0.8em;
  text-decoration: none;
  color: var(--light-color);
}

.submenu li a:hover {
  background-color: var(--mid-color);
  color: var(--dark-color);
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  margin-top: 1em;
}

aside {
  flex: 1 1 25%;
  border-right: 2px solid var(--dark-color);
  padding-right: 1em;
}

aside h3 {
  color: var(--dark-color);
  text-align: center;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside li {
  text-align: center;
  margin-bottom: 1em;
}

aside img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

section {
  flex: 1 1 70%;
}

section h2 {
  color: var(--dark-color);
  border-bottom: 2px solid var(--mid-color);
  padding-bottom: 0.3em;
}

section img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0.5em 0;
}

.circle-list {
  list-style-type: circle;
  padding-left: 1.2em;
}

footer {
  text-align: center;
  border-top: 3px solid var(--dark-color);
  margin-top: 2em;
  padding: 1em 0;
  color: var(--dark-color);
  font-weight: bold;
}

