:root {
  --light-menu-color: #fff;
  --mid-menu-color: antiquewhite;
  --dark-menu-color: #003366;
  --accent-color: #003366;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  font-size: calc(90% + 0.2vw);
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #003366;
  padding: 1em 0;
}

header img {
  width: 80px;
  margin-right: 15px;
}

.header-text h1 {
  color: #003366;
  margin: 0;
}

.header-text h2 {
  color: #666;
  margin: 0.2em 0 0;
  font-style: italic;
}

/* Navigation Bar */
.navbar {
  background-color: var(--accent-color);
  margin-bottom: 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  flex-basis: 20%;
  text-align: center;
  position: relative;
}

.menu a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: var(--light-menu-color);
  margin: 0 1px 2px;
}

.menu a:hover,
.menu a:focus,
.menu a.current {
  background-color: var(--mid-menu-color);
  color: var(--dark-menu-color);
}

/* Submenu styling */
.submenu {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--accent-color);
  text-align: center;
}

.menu li:hover .submenu {
  display: block;
}

.submenu li a {
  margin: 0 2px 2px;
}

.menu > li:first-child a {
  margin-left: 0;
}

.menu > li:last-child a {
  margin-right: 0;
}

main {
  display: flex;
  gap: 20px;
}

aside {
  width: 25%;
}

section {
  width: 75%;
}

footer {
  border-top: 3px solid #003366;
  text-align: center;
  padding: 1em 0;
  margin-top: 20px;
}
