body {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  max-width: 1024px;
  margin: 0 auto;
  font-size: calc(90% + 0.2vw);
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

header {
  text-align: center;
  padding: 1em 0;
  line-height: 1.2;
  border-bottom: 3px solid #003366;
}

header img {
  min-width: 40px;
  max-width: 80px;
  width: 10%;
}

header h1 {
  color: #003366;
  margin: 0.3em 0 0 0;
}

header h2 {
  color: #666;
  margin: 0.2em 0;
}

main {
  display: flex;
  gap: 1.5em;
  margin: 1em 0;
}

aside {
  flex-basis: 25%;
}

section {
  flex-basis: 75%;
}

aside h2 {
  border-bottom: 2px solid #003366;
  padding-bottom: 0.3em;
}

aside img {
  display: block;
  width: 80%;
  min-width: 40px;
  max-width: 75px;
  margin-bottom: 0.3em;
}

aside p {
  margin: 1em 0;
}

aside a {
  color: #003366;
  text-decoration: none;
  font-weight: bold;
}

.featured {
  border-top: 3px solid #003366;
  border-bottom: 3px solid #003366;
  padding: 1em 0;
  margin: 1.5em 0;
}

.featured img {
  float: right;
  min-width: 100px;
  max-width: 250px;
  width: 60%;
  margin: 0 0 1em 1em;
}

section h2 {
  color: #003366;
}

blockquote {
  font-style: italic;
  color: #666;
  border-left: 3px solid #ccc;
  padding-left: 1em;
  margin: 1em 0;
}

footer {
  text-align: center;
  border-top: 2px solid #003366;
  padding: 1em 0;
  font-size: 0.9em;
}
